apiVersion: v1
kind: Service
metadata:
  name: inferadb-control
  namespace: inferadb
  labels:
    app.kubernetes.io/name: inferadb-control
    app.kubernetes.io/component: control
    app.kubernetes.io/part-of: inferadb
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: "9092"
    prometheus.io/path: "/metrics"
spec:
  type: ClusterIP
  sessionAffinity: None
  ports:
    - name: http
      port: 9090
      targetPort: http
      protocol: TCP
    - name: grpc
      port: 9091
      targetPort: grpc
      protocol: TCP
    - name: mesh
      port: 9092
      targetPort: mesh
      protocol: TCP
  selector:
    app.kubernetes.io/name: inferadb-control
    app.kubernetes.io/component: control
