apiVersion: v1
kind: Service
metadata:
  name: inferadb-engine
  namespace: inferadb
  labels:
    app.kubernetes.io/name: inferadb-engine
    app.kubernetes.io/component: engine
    app.kubernetes.io/part-of: inferadb
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: "8082"
    prometheus.io/path: "/metrics"
spec:
  type: ClusterIP
  sessionAffinity: None
  ports:
    - name: http
      port: 8080
      targetPort: http
      protocol: TCP
    - name: grpc
      port: 8081
      targetPort: grpc
      protocol: TCP
    - name: mesh
      port: 8082
      targetPort: mesh
      protocol: TCP
  selector:
    app.kubernetes.io/name: inferadb-engine
    app.kubernetes.io/component: engine
