apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - configmap.yaml
  - statefulset.yaml
  - service.yaml
  - pdb.yaml
  - servicemonitor.yaml
labels:
  - pairs:
      app.kubernetes.io/managed-by: flux
